:root{
    --primary:#FFFFFF;
    --secondary:#004a87;
    --font-color:#000;
}
.containerHeader {
  display: flex;
  height: 100px;
  background-color: var(--secondary);
  justify-content: space-between;
}

.leftItems {
  display: flex;
  align-items: center;
}

.leftItems img {
  width: 90px;
  height: auto;
  margin: 5px 25px;
}
.leftItems h1 {
  color: var(--primary);
  align-content: center;
}

.rightItems {
  display: flex;
}
.rightItems ul {
  display: flex;
  list-style-type: none;
}
.rightItems ul li {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: var(--primary);
}

.rightItems ul li img {
  width: 100%;
  height: 100%;
}

.containerBusqueda {
    position: relative;
    height: 70px;
}
.buscar {
    padding: .3125rem;
    margin-bottom: 60px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 40px;
}
.buscar input {
    width: 0;
    height: 2.5rem;
    padding: 0 1.25rem;
    font-size: 1.125rem;
    color: var(--font-color);
    outline: none;
    border: 1px solid silver;
    border-radius: 1.875rem;
    transition: all 0.6s ease;
}
.btn {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--secondary);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: var(--primary);
    border-radius: 50%;
    cursor: pointer;
}
.buscar:hover input {
    width: 240px;
}

.listarMaterias {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.listarMaterias input {
    width: 240px;
    height: 2.5rem;
    border: 1px solid silver;
    padding: 0 1.25rem;
    font-size: 1.125rem;
    color: var(--font-color);
    border-radius: 1.875rem;
    margin-right: 40px;
}

.containerCards {
  display: flex;
  flex-flow: row wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-evenly;
  transition: 0.3s;
  padding: 20px;
  width: 20%;
  min-width: 300px;
  border-radius: .625rem;
  margin:1.25rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px 16px;
  margin-right: 1.25rem;
   
}

.container-card p,
.container-card h4 {
  margin: 0;
}

.container-card input {
  background-color: var(--secondary);
  margin-top: 10px;
  border-radius: .3125rem;
  padding: .3125rem;
  border: none;
  color: #fff;
}

.container-card p{
  white-space: nowrap;
}

.container-card button{
  
}

.card img {
  width: 4.375rem;
  min-height: 4.375rem;
  margin-left: 1.25rem;
  border-radius: 50%;
}
